:root {
	line-height: 1.5;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #292929;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;	
	-moz-osx-font-smoothing: grayscale;
}

.main-container {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	color: whitesmoke;
	background: black;
	background: linear-gradient(
		0deg,
		rgba(2, 131, 56, 0.834) 0.18%,
		rgb(4, 74, 33) 0.25%,
		rgb(28, 28, 28) 32%
	);
}

.footer-container {
	margin-top: auto;
}

.pataforma-logo {
	padding-top: 6%;
	margin-bottom: -10%;
}

.footer-list-container {
	margin: 0 auto;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	gap: 8.8rem;

	list-style: none;

	font-size: 1.5em;
	color: white;
}

li {
	padding-bottom: 10px;
}

.login-header {
	width: 90vw;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 1.2em;
	margin: 1.2rem;
}

.login-header-img {
	max-width: 2rem;
}

.h3-login-page {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: lighter;
	font-size: 0.8rem;
}

input {
	color: #f9f9f9;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}

	button {
		background-color: #f9f9f9;
	}
}
