#root {
	max-width: 2560px;
	margin: 0 auto;
	min-height: 99vh;
	padding: 0;
	text-align: center;
	line-height: 1.5;
	box-sizing: border-box;
}

html, body  {
	min-width: 320px;
	min-height: 100vh;
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	font-family: "League Gothic", sans-serif;
	font-weight: lighter;
}


@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

